.App {
  text-align: center;
  color: #69707a;
  font-size: 0.95rem;
}

.App-header {
  padding: 20px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.App-title {
  font-size: 2.5em;
}

.logo {
  font-family: "Libre Baskerville", serif;
  display: inline;
  font-size: 2em;
  letter-spacing: -2px;
  /* padding-right: 4px; */
  margin: auto 0;
  padding: 4px 8.3px 4px 4.3px;
  /* border: double 5px #444c5c; */
  color: #ff5138;
}

.logo:before {
  content: "cap calculator.";
}
