.App {
  text-align: center;
  color: #69707a;
  font-size: 0.95rem;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  position: relative;
}

.app-body {
  flex: 1 1 auto;
  margin-bottom: 2rem;
}

.sem-buttons-wrapper {
  margin-top: 1rem;
}
