.App {
  text-align: center;
  color: #69707a;
  font-size: 0.95rem;
  display: flex;
  flex-flow: column;
  min-height: 100%;
  position: relative;
}

.app-body {
  flex: 1 1 auto;
  padding-bottom: 10rem;
}
