.saved-table-wrapper {
  /* for scrollIntoView hackiness */
  padding-top: 15rem;
  margin-top: -15rem;
}

.saved-table {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  margin: 1rem 0;
  border-radius: 3.25px;
  z-index: 99;
}

.saved-table.curr-sem {
  box-shadow: 0 0 0 0.2rem rgba(255, 81, 56, 0.25);
}

.sem-table-wrapper {
  border-top: 1px solid #ddd;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.sem-header-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sem-info {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.sem-row-header {
  font-weight: bold;
  padding: 0.2rem 0;
}

.module-row {
  padding: 0.3rem 0;
}

.sem-empty {
  opacity: 0.7;
  font-size: 0.9rem;
  padding: 1rem 0;
}
