.suggestions {
  background: #fff;
  border-top-width: 0;
  list-style: none;
  max-height: 50vh;
  overflow-y: auto;
  padding-left: 0;
  align-items: center;
  position: absolute;
  width: calc(100% - 70px);
  border-width: 1px;
  border: 1px solid #d3d6db;
  border-top: 0 solid #d3d6db;
  border-radius: 0 0 0.25rem 0.25rem;
}

.suggestions li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 0.5rem;
  color: #69707a;
}

.suggestions li.suggestion-active {
  color: #eb1d00;
  background-color: #f3f5f8;
  cursor: pointer;
}

.suggestions li.disabled {
  color: #aeb1b5;
}

.suggestions li.disabled:hover {
  cursor: default;
  background-color: initial;
  color: #aeb1b5;
}

.suggestions li span.alr-added {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  height: 18px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;

  color: #fff;
  background-color: #17a2b8;
}

.suggestions mark {
  padding: 0;
  font-weight: 700;
  color: currentColor;
  background-color: transparent;
}
